# Dimensionality Reduction

In [ ]:
In machine learning classification problems, there are often too many factors on the basis of which the final classification is done. 
These factors are basically variables called features. 
The higher the number of features, the harder it gets to visualize the training set and then work on it. 
Sometimes, most of these features are correlated and hence redundant. 
This is where dimensionality reduction algorithms come into play. 
Dimensionality reduction is the process of reducing the number of random variables under consideration, by obtaining a set of principal variables.
It can be divided into feature selection and feature extraction.

# Handling Duplicates Values

In [5]:
import pandas as pd
df= pd.DataFrame({
    'brand': ['ice cream', 'ice cream', 'chocolate', 'chocolate', 'chocolate'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]})

In [6]:
df

       brand style  rating
0  ice cream   cup     4.0
1  ice cream   cup     4.0
2  chocolate   cup     3.5
3  chocolate  pack    15.0
4  chocolate  pack     5.0

In [7]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [11]:
df.duplicated(['rating'])

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [12]:
df.drop_duplicates()

       brand style  rating
0  ice cream   cup     4.0
2  chocolate   cup     3.5
3  chocolate  pack    15.0
4  chocolate  pack     5.0

In [13]:
df.drop_duplicates(['rating'])

       brand style  rating
0  ice cream   cup     4.0
2  chocolate   cup     3.5
3  chocolate  pack    15.0
4  chocolate  pack     5.0